{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<div class="container">
   
    <div class="row">
        
        
        <div class="col-md-8 offset-md-2 my-4">
            <div class="card mt-3 p-3">
                <div class="row">
                    <div class="card-title">
                        <h3>{{question.question_title}}</h3>
                    </div>
                    <div class="">
                           
                        <p class=""><span class="me-3 " >{{question.post_at|naturaltime}} </span>  <a href="" class=" fw-bold text-capitalize">{{question.user.username}}</a> </p>
    
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2 mt-5">
                        <div class="d-flex flex-column  me-3">
                            <div class="upvote">
                                <strong>123</strong> <br>
                                <i class="fa-solid fa-circle-arrow-up mb-3 text-success fa-2x"></i>
                            </div>
                            
                            
                            <div class="downvote">
                                <i class="fa-solid fa-circle-arrow-down mb-3 text-danger fa-2x"></i> <br>
                                <strong>12</strong>
                            </div>
                            <!-- <i class="fa-solid fa-arrow-down-long text-danger fa-3x arr"></i> -->
                        </div>
                    </div>
                    <div class="col-md-10">
                        
                        <div class="card-text">
                            <p>{{answer.answer}}  
                            </p>
                        </div>
                        <p>
                            <a href="#" class="me-2">{{answer.user.username}}</a>
                            <span> <a href="">5 Comments</a> </span>
                        </p>
                        <p>
                            Tags:
                            {% for tag in tags %}
                            <a href="#" class="badge badge-secondary p-2">{{tag}}</a>
                            {% endfor %}
                        </p>
                         <!-- comments section -->
                    <h3 class="my-2">Comment</h3>
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis id, obcaecati ut animi doloribus nobis porro vero earum laudantium adipisci </p>
                            <p>
                                <a href="" class=" fw-bold text-capitalize">{{question.user.username}}</a>
                            </p>
                        </div>

                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis id, obcaecati ut animi doloribus nobis porro vero earum laudantium adipisci </p>
                            <p>
                                <a href="" class=" fw-bold text-capitalize">{{question.user.username}}</a>
                            </p>
                        </div>

                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis id, obcaecati ut animi doloribus nobis porro vero earum laudantium adipisci </p>
                            <p>
                                <a href="" class=" fw-bold text-capitalize">{{question.user.username}}</a>
                            </p>
                        </div>

                    </div>
                    </div>
                 
                </div>
                
            </div>
          </div>
        
      
    </div>
    
</div>
{% endblock %}