{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="hero">
    <div class="container">
      <div class="row d-flex align-items-center ">
        <div class="col-md-4 mt-5">
         <div class="card mt-5 p-2">
          <h3 class=" lh-1">Start to contribute with <br> reliable farmers   and Officers</h3>
          <p> Grow  healthier crops and highly-quality  <br> crops continuoulsy</p>
         </div>
        </div>        
        <div class="col-md-6 text-center ">
          <h4 class="fw-bold text-warning">Welcome To iFarm </h4>
          <h2 class="lh-1"> <span class="text-warning lh-lg">GET STARTED</span> </h2>
         <div class="d-flex justify-content-center">
          <a href="{% url 'farmer' %}" class="btn btn-sucess mx-3">As Farmer</a>
          <a href="{% url 'officer' %}" class="btn btn-sucess">As Officer</a>
         </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-3 ">Important Things in Farming</h3>
    <div class="row my-2">
        {% for post in posts %}
        <div class="col-md-4 mb-4 rounded">
            <div class="card shadow">
              <h4 class="card-title fw-bold m-2">{{post.id}} .{{post.title}}</h4>
                <a href="{% url 'single' post.id %}"><img src="{{post.post_img.url}}" class="card-img-top" width="100%" height="300px" style="object-fit:cover;" alt="Fissure in Sandstone"/></a>
                <div class="card-body">
                  
                  <p class="card-text">{{post.description}}</p>
                  <div class="d-flex">
                    <p class="card-text me-3">Price Ksh.<span class="fw-bold">{{post.price}}</span> </p>
                  <p class="card-text">Shop Name: {{post.shop}}</p>
                  </div>
                  <div class="d-flex">
                    <p class="card-text me-3">category :{{post.category}}</p>
                    <p class="card-text">Location :{{post.location}}</p>
                  </div>
                  <p class="card-text">{{post.created_at}}</p>
                  <h5 class="card-text text-dark">Posted by: <span class="text-capitalize">{{post.user}}</span></h5>
                  
                </div>
              </div>
              
            
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}