{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="my-3">
        <a href="{% url 'addquestion' %}"  class="btn btn-primary">Ask Me</a>
    </div>
    <form class="d-flex me-auto" action="" method="GET">
        <input class="form-control me-2" type="search" name="q" placeholder="Search Question" aria-label="Search">
        <button class="btn btn-outline-primary" type="search">Search</button>
      </form>
    <div class="row">
        
        {% for question in questions %}
        <div class="col-md-4">
            <div class="card mt-3 p-3">
                <a href="{% url 'detail' question.id %}"><div class="card-title">
                    <h3>{{question.question_title}}</h3>
                </div></a>
                <div class="card-text">
                    <p>{{question.question}}</p>
                </div>
                <div class="d-flex">
                    <a href="#">John</a>
                    <a href="#" class="mx-2">5 Answer</a>
                    <a href="#" class="mx-2">10 comments</a>
                </div>
            </div>
          </div>
        {% endfor %}
      
    </div>
       <!-- Pagination -->
       <!-- {% if questions.has_other_pages %}
  <ul class="pagination">
    {% if questions.has_previous %}
      <li><a href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in questions.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if questions.has_next %}
      <li><a href="?page={{ questions.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %} -->
       <nav aria-label="Page my-4 ">
        <ul class="pagination my-4">
           {% if questions.has_other_pages %}
           {% if questions.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{questions.previous_page_number}}">Previous</a></li>
            {% endif %}
        
        {% for i in questions.paginator.page_range %}
        {% if questions.number == i %}
        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% else %}
        <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        
        {% endfor %}
        {% if questions.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{questions.next_page_number}}" >Next</a></li>
        {% endif %}
        {% endif %}
        

        </ul>
      </nav>
</div>
{% endblock %}