{% extends 'base.html' %}
{% block content %}
<div class="container-fluid login p-5 register">
  <div class="container">
   
    <div class="row">

      
      <div class="col-md-6 offset-md-3 text-center ">
        <h2 class="lh-1">Sign Up <br> <span class="text-success lh-lg">GET STARTED</span> </h2>
       <div class="d-flex justify-content-center">
        <a href="{% url 'farmer' %}" class="btn btn-sucess mx-3">As Farmer</a>
        <a href="{% url 'officer' %}" class="btn btn-sucess">As Officer</a>
       </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}